<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Register</title>
</head>
<body>
    <div>
        <form action="#" th:action="@{/store/pets/create}" th:object="${pet}" method="post">

            <label for="petName">Pet name</label>
            <input type="text" th:field="*{name}" id="petName" placeholder="Enter Pet Name">

            <label for="breed">Breed</label>
            <input type="text" th:field="*{breed}" id="breed" placeholder="Pet breed">

            <label for="type">Pet Type</label>
            <input type="text" th:field="*{types}" id="type" placeholder="Pet type">

            <label for="sex">Pet sex </label>
            <input type="text" th:field="*{sex}" id="sex" placeholder="Pet sex">

            <label for="age">Age</label>
            <input type="text" th:field="*{age}" id="age" placeholder="Enter age">

            <input type="submit" value="Done">

        </form>
    </div>
</body>
</html>