<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of stores</title>
</head>
<body>
    <div th:switch="${storeList}">

        <h2 th:case="null">No Store Added yet!</h2>
        <h2>All Stores</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="store : ${storeList}">
                <td th:text="${store.storeName}"></td>
                <td th:text="${store.storeNumber}"></td>
                <td th:text="${store.address}"></td>
                <td th:text="${store.city}"></td>
                <td th:text="${store.state}"></td>
                <td th:text="${store.country}"></td>
                <td><a href="@{/pets/{id}(id=${store.id})}">Show Pets</a></td>
                <td><a href="@{/pets/create/{id}(id=${store.id})}">Add Pets</a></td>

            </tr>
            </tbody>
        </table>
    </div>

    <p><a href="/store/form">Add New Store</a></p>
</body>
</html>